html, body {
    margin: 0;
    padding: 0;
    font-family: arial;
    text-align: center;
    min-height: 100%;
    width: 100%;
}

ul {
    padding: 0;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    text-align: left;
    overflow: hidden;
}

fieldset {
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#generate {
    margin-top: 5px;
}

#problem {
    margin: 2rem 0;
}

#answer {
    text-align: center;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
}

h1 {
    text-align: center;
}

#buttons {
    text-align: center;
}

.question-body {
    text-align: center;
}

label {
    white-space: break-spaces;
}

li {
    width: 100%;
    height: auto;
    overflow: hidden;
}

form {
    display: inline-block;
    text-align: left;
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    font-size: 0.75rem;
    padding: 5px;
}

.btn-primary {
    background-color: #007bff;
    font-size: 1.5rem;
    padding: 10px 10px;
}

.btn-info {
    background-color: #17a2b8;
    font-size: 0.85rem;
    padding: 5px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.text-btn {
    border: none;
    background-color: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .25rem;
    cursor: pointer;
    display: inline-block;
    color: #007bff;
    font-size: inherit;
}

.text-btn:hover {
    color: #004FA4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #007bff;
}
a:visited {
    color: #007bff;
}
a:active {
    color: #004FA4;
}
a:hover {
    color: #004FA4;
}
