body {
    font-family: arial;
    font-size: 16px;
    color: black;
}

ul {
    padding: 0;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
}

fieldset {
    border-radius: 10px;
}

#generate {
    margin-top: 5px;
}

#problem {
    margin: 2rem 0;
}
