body {
    font-family: arial;
    text-align: center;
}

ul {
    padding: 0;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    text-align: left;
    overflow: hidden;
}

fieldset {
    border-radius: 10px;
    text-align: center;
}

#generate {
    margin-top: 5px;
}

#problem {
    margin: 2rem 0;
}

#answer {
    text-align: center;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#buttons {
    text-align: center;
}

.question-body {
    text-align: center;
}

label {
    white-space: break-spaces;
}

li {
    width: 100%;
    height: auto;
    overflow: hidden;
}

form {
    display: inline-block;
    text-align: left;
}
